/* GLOBAL STYLES */
html {
  color: #333;
  font-family: sans-serif;
  font-size: 16px;
}
ol, ul {
  list-style: none;
}
q::before {
  content: '"';
  margin-right: -3px;
}
q::after {
  content: '"';
  margin-left: -3px;
}

/* CONSOLIDATED STYLES */
.book-illustration {
  border: solid 1px #000;
  border-radius: 5px;
  height: 250px;
  width: 350px;
}
.hero, .reviews {
  background-color: #5f6f8a;
  color: #fff;
}
.sample, .author, footer {
  background-color: #f6dfa9;
}
.hero, .sample, .reviews, .author, .buy-now {
  border-bottom: solid 1px #000;
}
.hero, .sample, .reviews, .author, .buy-now, footer {
  padding: 40px 5%;
}

/* HERO STYLES */
.hero {
  display: block;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 12px;
}
.hero h2 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 12px;
}
.hero h3 {
  font-size: 1.5rem;
  margin: 12px 0;
}

/* SAMPLE STYLES */
.sample {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.sample div {
  flex: 1;
  text-align: center;
}
.sample p {
  line-height: 1.25;
}
.sample ul {
  line-height: 1.25;
  list-style: disc;
  list-style-position: inside;
  margin-top: 12px;
}
.lead-paragraph {
  font-weight: bold;
  margin-bottom: 12px;
}

/* REVIEWS STYLES */
.reviews {
  display: block;
  text-align: center;
}
.reviews article {
  margin-top: 12px;
  text-align: left;
}
.reviews h1 {
  font-size: 2rem;
}
.reviews h2 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}
.reviews .buy-button {
  display: inline-block;
  margin-top: 12px;
}
.reviews q {
  font-style: italic;
  line-height: 1.25;
}

/* AUTHOR STYLES */
.author {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.author > div {
  flex: 1;
  text-align: center;
}
.author h1 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.author img {
  border: solid 1px #000;
  border-radius: 50%;
}
.author p {
  line-height: 1.25;
  margin-bottom: 12px;
}
.author q {
  line-height: 1.25;
  font-style: italic;
}
.author i {
  color: #5f6f8a;
}
.author i:hover {
  color: #e33d3d;
}

/* BUY NOW STYLES */
.buy-now {
  background: linear-gradient(180deg, #e33d3d, #970000);
  background-color: #e33d3d;
  text-align: center;
}
.buy-button {
  background-color: #f4c153;
  border: solid 1px #000;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  text-decoration: none;
}
.buy-button i {
  color: #000;
  margin-right: 5px;
}

/* FOOTER STYLES */
footer {
  align-items: center;
  display: flex;
}
footer div {
  flex: 1;
  text-align: center;
}
footer p a {
  color: #333;
  text-decoration: none;
}
footer p a:hover {
  color: #e33d3d;
  text-decoration: underline;
}
.social-links i {
  color: #5f6f8a;
}
.social-links i:hover {
  color: #e33d3d;
}
.social-links li {
  display: inline;
}
