/* TYPOGRAPHY */
@font-face {
  font-family: 'Indie Flower';
  src: url('../fonts/Indie_Flower/IndieFlower.ttf') format('truetype');
}

/* GLOBAL STYLES */
html {
  color: #333;
  font-family: 'Source Serif Pro';
  font-size: 16px;
}
ol, ul {
  list-style: none;
}
q::before {
  content: '"';
  margin-right: -3px;
}
q::after {
  content: '"';
  margin-left: -3px;
}

/* CONSOLIDATED STYLES */
.book-illustration {
  border: solid 1px #000;
  border-radius: 5px;
  height: 250px;
  width: 350px;
}
.hero, .reviews, .map {
  background-color: #5f6f8a;
  color: #fff;
}
.sample, .author, footer {
  background-color: #f6dfa9;
}
.hero, .sample, .reviews, .author, .buy-now {
  border-bottom: solid 1px #000;
}
.hero, .sample, .reviews, .author, .buy-now, footer {
  padding: 40px 5%;
}
.hero h1, .hero h2, .lead-paragraph, .reviews h1, .author h1, .map h1 {
  font-family: 'Indie Flower';
}

/* HERO STYLES */
.hero {
  display: block;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 12px;
}
.hero h2 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.hero h3 {
  font-size: 1.5rem;
  margin: 12px 0;
}

/* SAMPLE STYLES */
.sample {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.sample div {
  flex: 1;
  text-align: center;
}
.sample p {
  line-height: 1.25;
}
.sample ul {
  line-height: 1.25;
  list-style: disc;
  list-style-position: inside;
  margin-top: 12px;
}
.lead-paragraph {
  font-weight: bold;
  margin-bottom: 12px;
}

/* REVIEWS STYLES */
.reviews {
  display: block;
  text-align: center;
}
.reviews article {
  margin: 25px 0;
  text-align: left;
  padding: 0 140px;
}
.reviews h1 {
  font-size: 2rem;
}
.reviews p {
  font-style: italic;
  margin-top: 6px;
}
.reviews .buy-button {
  display: inline-block;
  margin-top: 12px;
}
.reviews q {
  line-height: 1.25;
}

/* AUTHOR STYLES */
.author {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.author > div {
  flex: 1;
  text-align: center;
}
.author h1 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.author img {
  border: solid 1px #000;
  border-radius: 50%;
  height: 239px;
  width: 240px;
}
.author p {
  line-height: 1.25;
  margin-bottom: 12px;
}
.author q {
  line-height: 1.25;
  font-style: italic;
}
.author i {
  color: #5f6f8a;
}
.author i:hover {
  color: #e33d3d;
}

/* BUY NOW STYLES */
.buy-now {
  background: linear-gradient(180deg, #e33d3d, #970000);
  background-color: #e33d3d;
  text-align: center;
}
.buy-button {
  background-color: #f4c153;
  border: solid 1px #000;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
.buy-button i {
  color: #000;
  margin-right: 5px;
}

/* MAP STYLES */
.map {
  text-align: center;
}
.map h1 {
 font-size: 2rem;
 /* needs to be padding as opposed to margin because of the map hack */
 padding-top: 40px;
}
iframe {
  height: 100%;
  position: relative;
  top: -46px;
  width: 100%;
}
.iframe {
  display: inline-block;
  height: 340px;
  margin: 40px;
  overflow: hidden;
  width: 420px;
}

/* FOOTER STYLES */
footer {
  align-items: center;
  display: flex;
}
footer div {
  flex: 1;
  text-align: center;
}
footer p a {
  color: #333;
  text-decoration: none;
}
footer p a:hover {
  color: #e33d3d;
  text-decoration: underline;
}
.social-links i {
  color: #5f6f8a;
}
.social-links i:hover {
  color: #e33d3d;
}
.social-links li {
  display: inline;
}

@media (max-width: 800px) {
  /* SAMPLE STYLES */
  .sample {
    flex-direction: column;
  }
  .sample > div:not(:last-child) {
    margin-bottom: 15px;
  }

  /* AUTHOR STYLES */
  .author {
    flex-direction: column;
  }
  .author > div:not(:last-child){
    margin-bottom: 15px;
  }
}

@media (max-width: 375px) {
  .book-illustration {
    height: 187.5px;
    width: 262.5px;
  }
  .author img {
    height: 179.25px;
    width: 180px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer p {
    padding: 5px 0;
  }
}
